{% extends 'base.html.twig' %}

{% block title %}Créer un lieu{% endblock %}

{% block body %}
    <h2>Créer un lieu</h2>

    <div class="text-center">
        {{ include('lieu/_form.html.twig', {'button_label': 'Créer'}) }}
        <a href="{{ path('lieu_index') }}" class="bouton d-inline-block">Annuler</a>
        {{ form_end(form) }}
    </div>
{% endblock %}
