{{ form_start(form) }}
    {{ form_row(form.nom, {'attr': {'class':'form-control'}}) }}
    <button class="bouton d-inline-block">{{ button_label|default('Save') }}</button>
{# {{ form_end(form) }} #}
