{% extends 'base.html.twig' %}

{% block title %}Modifier Site{% endblock %}

{% block body %}
    <h2>Modifier Site</h2>
    <div class="text-center">
        {{ include('site/_form.html.twig', {'button_label': 'Modifier'}) }}
        <a href="{{ path('site_index') }}" class="bouton d-inline-block">Annuler</a>
        {{ form_end(form) }}
    </div>
{% endblock %}
