{% extends 'base.html.twig' %}

{% block title %}New Site{% endblock %}

{% block body %}
    <h1>Créer un site</h1>

    <div class="text-center">
        {{ include('site/_form.html.twig', {'button_label': 'Créer'}) }}
        <a href="{{ path('site_index') }}" class="bouton d-inline-block">Annuler</a>
        {{ form_end(form) }}
    </div>
{% endblock %}
