{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
    <br>
    <br>
    <br>

    <div class="container-fluid ">
        <div class="row no-gutters col-xs-4">
            <div class="col-xs-12 col-md-8">
                <div class="card">
                    <p> Un événement organisé gauche</p>
                </div>
            </div>

            <div class=".col-xs-6 .col-md-4">
                <div class="card">
                    <p> Un événement organisé droite</p>
                </div>
            </div>

        </div>

    </div>

{% endblock %}
