@import "~bootstrap/dist/css/bootstrap.min.css";


body{
    background-color: #7d5fff;
}


/* ------------------ Header ------------------ */
#containerNav{
    background-color: #353b48;
}
.navbar-dark{
    background-color: #353b48;
}
#logo img{
    width: 40px;
    color: #7d5fff;
}
#logo img:hover{
    -webkit-animation: animLogo 0.3s linear;
}
#logo{
    color: #7d5fff;
}
.nav-link-color{
    color: #18dcff !important;
    opacity: 0.5;
    transition: opacity 0.3s;
}
.nav-link-color:hover{
    opacity: 1;
}
.utilisateur{
    position: absolute;
    right: 15px;
}
.avatar{
    width: 40px;
    opacity: 0.5;
}
.logout{
    width: 20px;
    opacity: 0.7;
}
.utilisateur a{
    display: inline;
}
.utilisateur:hover{
    opacity: 1;
}

@-webkit-keyframes animLogo {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

/* ------------------ Main ------------------ */

/* ------------------ Footer ------------------ */