@import "~bootstrap/dist/css/bootstrap.min.css";

body {
    background-color: #16a085;
    font-family: 'Comfortaa', cursive;
}

button a {
    text-decoration: none !important;
    color: white;
}

button a:hover {
    color: white !important;
}

h1 {
    text-align: center !important;
    padding-bottom: 3%;
    padding-top: 2%;
}

h2 {
    color: white;
    text-align: center !important;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* ------------------ Header ------------------ */
#containerNav {
    background-color: #353b48;
    font-family: 'Play', sans-serif;
}

.navbar-dark {
    background-color: #353b48;
}

.table-dark {
    margin-top: 20px;
}

#logo img {
    width: 40px;
    color: #16a085;
}

#logo img:hover {
    -webkit-animation: animLogo 0.3s linear;
}

#logo {
    color: #16a085;
    font-size: 1.3em;
}

.nav-link-color {
    color: #ffffffff !important;
    transition: color 0.3s;
}

.nav-link-color:hover {
    color: #16a085 !important;
}

.utilisateur {
    position: absolute;
    right: 15px;
}

.avatarPetit {
    width: 40px;
    height: 40px;
    opacity: 0.5;
    border-radius: 50px;
}

.avatarParticipant {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.logout {
    width: 20px;
    opacity: 0.7;
}

.utilisateur a {
    display: inline;
}

.utilisateur:hover {
    opacity: 1;
}

@-webkit-keyframes animLogo {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

/* ------------------ Main ------------------ */
.form-control-lg {
}

#imgUpload {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#profil {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

#profil button {
    margin-top: 50px;
}

#avatar {
    width: 150px;
    margin-bottom: 30px;
}

.recherche {
    width: 35px;
    height: 35px;
}

.boutonPlus {
    color: white;
    text-align: center;
    vertical-align: middle;
    background-color: #16a085;
    border: 2px solid white !important;
    padding: .2rem .6rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 50px;
    transition: background-color 0.5s;
}

.boutonPlus img:hover {
    -webkit-animation: animPlus 0.3s linear !important;
}

.bouton {
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    background-color: #16a085;
    border: 2px solid white !important;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    transition: background-color 0.5s;
    margin-top: 50px;
}

.bouton a {
    display: inline-block;
}

.bouton:hover {
    color: white;
    background-color: #353b48;
    text-decoration: none
}

button {
    border: none !important;
}

.labelProfil {
    background-color: #353b48;
    padding: 5px;
    color: white;
}

.gauche {
    text-align: right;
}

.droit {
    text-align: left;
}

.plus {
    width: 15px;
}

#sortie_dateDebut_date, #sortie_dateDebut_time, #sortie_dateCloture_date, #sortie_dateCloture_time, #sortie_search_dateMin_date, #sortie_search_dateMin_time,
#sortie_search_dateMax_date, #sortie_search_dateMax_time {
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.table-dark {
    border-radius: 20px;
}

@-webkit-keyframes animPlus {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.tableCustom {
    margin-top: 1%;
}

.formSearch {

    background-color: #f6b93b;
    padding-bottom: 0.05%;
    padding-left: 0.5%;
    border-radius: 20px;
    padding-top: 0.5%;

}

#sortie_search_rechercher {
    margin-top: 2px;
}

.btnNew {

    margin-top: 0.2%;
    margin-bottom: 1%;
}


/* ------------------ Footer ------------------ */