{% extends 'base.html.twig' %}

{% block title %}Modifier Ville{% endblock %}

{% block body %}
    <h2>Modifier Ville</h2>
    <div class="text-center">
        {{ include('ville/_form.html.twig', {'button_label': 'Modifier'}) }}
        <a href="{{ path('ville_index') }}" class="bouton d-inline-block">Annuler</a>
        {{ form_end(form) }}
    </div>

{% endblock %}
